<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Login</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
	<div class="container">
	  <div>
		<h1>User Login</h1>
		<form th:action="@{/adminValidate}" method="post" th:object=${admin} >
			<input th:type="text" placeholder="Enter Username" th:field="*{username}">
			<input th:type="text" placeholder="Enter Password" th:field="*{password}">
			<button type="submit">Login</button>
		</form>
		</div>
	</div>	
</body>
</html>